{{page-title "Todo"}}

<div class="menu">
  …
  {{#if this.session.isAuthenticated}}
    <a {{on "click" this.invalidateSession}}>Logout</a>
    {{#link-to 'authenticated.dashboard'}}Dashboard{{/link-to}}
  {{else}}
    {{#link-to 'register'}}Register{{/link-to}}
    {{#link-to 'login'}}Login{{/link-to}}

  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>
